@import "/styles/home.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  height: 100vh;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 9rem;
}
.cart-box {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
  align-items: center;
  flex-wrap: wrap;
}

.right-col {
  margin-top: 2rem;
  justify-content: center;
}

.card-image {
  border-radius: 0;
}
.horizontal {
  height: 100%;
}

.card-text {
  width: 25%;
}


.checkout-text > input {
  font-size: 1rem;
}

.card-main-big > .icon-only {
  transform: none;
  position: absolute;
  right: -150%;
}

.card-main-big > .card-image {
  border-top-left-radius: 2.6rem;
  border-top-right-radius: 2.6rem;
}

.btn-box-price{
  display: flex;
  flex-wrap: wrap;
}


.footer-items {
  margin-top: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
}
