

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-box{
   padding-top: 2rem;
   text-align: center;
   max-width:100%;
   height: auto;
}



.hero-two-box{
    position: relative;
  
}
.btn-primary-outlined{
    color: var(--light);
    border-color:var(--light) ;
    position: absolute;
    right: 0;
    bottom: 6rem;
    font-size: 1.5rem;
}





.category{
    padding: 1.5rem 2rem;
}

.col-1 , .col-2 , .col-3{
    background-color: transparent;  
}


.category-box{
height: 90%;
max-width: 100%;
}

.category-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-category{
    font-size: 2rem;
}