@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.hero-box {
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  max-width: 100%;
  height: auto;
}

.hero-two-box {
  position: relative;
  padding: 5rem 4rem;
}
.btn-primary-outlined  {
  color: var(--light);
  border-color: var(--light);
  background:var(--dark) ;
  position: absolute;
  right: 40%;
  bottom: 6rem;
  font-size: 1.5rem;
}

.btn-primary{
  color: var(--light);
  background-color: var(--dark);
}


.category {
  padding: 1.5rem 2rem;
}

.col-1,
.col-2,
.col-3 {
  background-color: transparent;
  position: relative;
}

.category-box > .btn {
  display: flex;
  justify-content: center;
  margin: 0.5rem auto;
  right: initial;
}

.category-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  max-width: 100%;
}

.heading-category {
  font-size: 2rem;
}

/* footer */
footer {
  color: var(--primary-font-color);
}

.footer-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-items > h4 {
  margin: 0.5rem auto;
  text-align: center;
}

.footer-icon-holder {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.footer-link > a {
  display: inline-block;
 
}

.fa {
  color: var(--primary-font-color);
}
