@import "/styles/home.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap");

:root {
  --wishlist-bg: #ff0000;
  --aside-border: #999999;
  --shadow-card: #e6e6e6;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-page {
  width: 80%;
  margin-left: 6rem;
  margin-top: 3rem;
}

html {
  height: 100vh;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 9rem;
}

.footer-items {
  margin-top: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
}



