@import "/styles/home.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-four-col {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
}

.card-container{
  width: 60%;
}
