@import "/styles/home.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-four-col {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
}

.card-container {
  width: 60%;
}

.card-overlay-badge {
  transform: none;
  right: -0.7rem;
  top: 1.2rem;
  background: transparent;
}

.card-overlay-badge i {
  color: var(--input-error-border);
}

.heading-category {
  padding-top: 1rem;
}
